# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Sensitive files (DO NOT upload these)
master.hash
*.key
*.db
.env
vault.txt

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

